logs/*
target/*
project/target/*
project/project/target/*
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings

docker/requests-logger/target/*
!docker/requests-logger/target/.gitkeep
docker/requests-logger/ssh-key/*
!docker/requests-logger/ssh-key/.gitkeep

api/http-client.private.env.json

/RUNNING_PID
